<!-- START Template Main -->
<section id="main" role="main">
    <!-- START Template Container -->
    <section class="container login-container">
        <div class="row">
          <div class="col-md-12">
            <!-- Brand -->
            <div class="text-center" style="margin-bottom:40px;">
              <% if @domain.dashboard_login_image.exists? %>
                <%= image_tag @domain.dashboard_login_image.url(:logo), class: 'mb20' %>
              <% end %>

              <h5 class="semibold text-muted mt-5">Entre na sua conta.</h5>
            </div>
            <!--/ Brand -->

          </div>
        </div>
        <!-- START row -->
        <div class="row">
          <div class="col-sm-8">
              <div class="panel">
                <div class="panel-body">
                  <!-- Social button -->
                  <ul class="list-table">
                    <li>
                      <a href="<%= omniauth_authorize_path(resource_name, :facebook) %>" class="btn btn-block btn-facebook">
                        Entre com Facebook <i class="ico-facebook ml5"></i>
                      </a>
                    </li>
                  </ul>
                  <!-- Social button -->

                  <hr><!-- horizontal line -->

                  <!-- Login form -->
                  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-login'}) do |f| %>
                    <%= devise_error_messages! %>

                    <div class="form-group">
                      <div class="form-stack has-icon pull-left">
                        <%= f.text_field :voucher, required: false, class: 'form-control input-lg', placeholder: 'Voucher' %>
                        <i class="ico-gift22 form-control-icon"></i>
                      </div>
                    </div>

                    <div class="panel panel-danger hide voucher-response-panel" id="voucher-error">
                      <div class="panel-heading">
                        <h2 class="panel-title">Erro! :(</h2>
                      </div>
                      <div class="panel-body">
                        <p id="voucher-error-message" class="nm">
                        </p>
                      </div>
                    </div>

                    <div class="panel panel-success hide voucher-response-panel" id="voucher-success">
                      <div class="panel-heading">
                        <h2 class="panel-title">Voucher gerado com sucesso! :)</h2>
                      </div>
                      <div class="panel-body">
                        <p id="voucher-success-message" class="nm">
                        </p>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="form-stack has-icon pull-left">
                        <%= f.text_field :email, required: false, autofocus: true, class: 'form-control input-lg', placeholder: 'Email' %>
                        <i class="ico-mail2 form-control-icon"></i>
                      </div>
                      <div class="form-stack has-icon pull-left">
                        <%= f.text_field :name, required: false, class: 'form-control input-lg', placeholder: 'Nome' %>
                        <i class="ico-user2 form-control-icon"></i>
                      </div>
                      <div class="form-stack has-icon pull-left">
                        <%= f.password_field :password, required: false, class: 'form-control input-lg', placeholder: 'Senha' %>
                        <i class="ico-lock2 form-control-icon"></i>
                      </div>
                      <div class="form-stack has-icon pull-left">
                        <%= f.password_field :password_confirmation, required: false, class: 'form-control input-lg', placeholder: 'Confirme sua senha' %>
                        <i class="ico-lock2 form-control-icon"></i>
                      </div>
                    </div>

                    <div class="form-group nm">
                        <button type="submit" class="btn btn-block btn-success"><span class="semibold">Criar conta</span></button>
                    </div>
                  <% end %>
                </div>
              </div>
          </div>
          <div class="col-sm-4 hidden-xs">
            <%= image_tag 'site/first-doll.png', width: "210px" %>
          </div>
        </div>
        <!--/ END row -->
    </section>
    <!--/ END Template Container -->
</section>
<!--/ END Template Main -->

