<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <style type="text/css">
    @media only screen and (min-width:480px) {
      .column-per-100 {
        width: 100% !important;
      }
      .column-per-80 {
        width: 80% !important;
        max-width: 600px;
      }
      .column-per-50 {
        float: left;
        width: 46% !important;
        margin-left: 2%;
        margin-right: 2%;
        word-break: break-word;
      }
    }
  </style>
</head>

<body bgcolor="#f6f8f1" style="margin: 0; padding: 0;">
  <table width="100%" bgcolor="#f6f8f1" cellpadding="0" cellspacing="0">
    <tr>
      <td>
        <table class="content column-per-80" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" style="font-family: arial;">
          <tbody>
            <tr>
              <td align="center">
                <table class="column-per-80" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" style="font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:28px;table-layout:fixed;word-break:break-word">
                  <tbody>
                    <tr>
                      <td align="center">
                        <center>
                          <div>
                            <a href="<%= @domain.get_url %>">
                              <% if @domain.employee_advocacy_email_logo_image.exists? %>
                                <img src="<%= image_url @domain.employee_advocacy_email_logo_image.url %>" alt="" width="150">
                              <% else %>
                                <img src="<%= image_url @domain.dashboard_menu_image.url %>" alt="" width="150">
                              <% end %>
                            </a>
                            <!-- <a href="#">
                                <img src="https://communities.pointsrocket.com/system/domains/dashboard_menu_images/000/000/008/original/Black-green-logo.jpg" alt="">
                            </a> -->
                          </div>
                        </center>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table class="column-per-80" border="0" cellpadding="0" cellspacing="20" bgcolor="#FFFFFF" style="font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:28px;table-layout:fixed;word-break:break-word">
                  <tbody>
                    <tr>
                      <td align="left" width="100%">
                        <p style="line-height:80%;color:#363636;font-family:Helvetica,Arial,sans-serif;font-size:48px;font-weight:normal; margin: 0;"><span style="font-size:24pt"><%= t('views.mail.hello') %>, <%= (@user.name || '').split(' ').first %>.<br><span style="font-size:12pt"><%= t('views.mail.employee_advocacy_post.news') %><br><strong><%= t('views.mail.employee_advocacy_post.stay_tuned_and_share') %></strong></span></span>
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <hr style="width: 96%;color:#363636;border:#d5d5d5 dotted 1px">

                <div class="column-per-50" style="width: 100%;display: inline-block">
                  <table width="164px" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" style="font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:28px;table-layout:fixed;word-break:break-word">
                    <tbody>
                      <tr>
                        <td align="left" style="width: 164px;text-align:center;">
                          <table style="font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:28px;table-layout:fixed;word-break:break-word" border="0" width="100%" cellspacing="0" cellpadding="0">
                            <tbody>
                              <tr>
                                <td valign="top">
                                  <p>
                                    <img src="<%= image_url @employee_advocacy_post.image.url(:mail) %>" alt="post image" width="152" height="150" class="CToWUd a6T" tabindex="0">
                                    <div class="a6S" dir="ltr" style="opacity: 0.01; left: 203.5px; top: 697px;">
                                      <div id=":1m4" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="Download" role="button" tabindex="0" aria-label="Download attachment " data-tooltip-class="a1V">
                                        <div class="aSK J-J5-Ji aYr"></div>
                                      </div>
                                    </div>
                                  </p>
                                  <table style="height:97px;margin: 0 auto;" width="164">
                                    <tbody style="text-align:center;">
                                      <tr>
                                        <td>
                                          <a href="<%= @employee_advocacy_url %>/<%= @employee_advocacy_post.id %>/share/linkedin">
                                            <img src="<%= "#{@domain.get_url}/assets/mail/linkedin.png" %>" alt="" width="44" height="45" class="CToWUd">
                                          </a>
                                        </td>
                                        <td>
                                          <a href="<%= @employee_advocacy_url %>/<%= @employee_advocacy_post.id %>/share/twitter">
                                            <img src="<%= "#{@domain.get_url}/assets/mail/twitter.png" %>" alt="" width="44" height="44" class="CToWUd">
                                          </a>
                                        </td>
                                        <td>
                                          <a href="<%= @employee_advocacy_url %>/<%= @employee_advocacy_post.id %>/share/facebook">
                                            <img src="<%= "#{@domain.get_url}/assets/mail/facebook.png" %>" alt="" width="45" height="44" class="CToWUd">
                                          </a>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>
                                          <center><span style="font-size:10pt">+<%= @employee_advocacy_post.linkedin_points %>&nbsp;🏆</span>
                                          </center>
                                        </td>
                                        <td>
                                          <center><span style="font-size:10pt">+<%= @employee_advocacy_post.twitter_points %>&nbsp;🏆</span>
                                          </center>
                                        </td>
                                        <td>
                                          <center><span style="font-size:10pt">+<%= @employee_advocacy_post.facebook_points %>&nbsp;🏆</span>
                                          </center>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  
                </div>
                <div class="column-per-50" style="width: 100%; display: inline-block;">
                  <table>
                    <tbody>
                      <tr>
                        <td valign="top" width="330">
                          <div>
                            <h2 style="line-height:100%;color:#363636;font-family:Helvetica,Arial,sans-serif;font-size:24px;font-weight:normal;text-align:left"><%= @employee_advocacy_post.title %></h2>
                            <p>
                              <%= @employee_advocacy_post.content %>
                            <a style="color:#17488a" href="<%= @employee_advocacy_url %>"><%= t('views.general.buttons.read_more') %></a>
                            </p>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <table style="clear: both;width: 80%;">
                  <tbody>
                    <tr>
                      <td><%= render partial: "partials/mail_opt_out" %></td>
                    </tr>
                  </tbody>
                </table>
                <hr style="width: 96%;clear: both;color:#363636;border:#d5d5d5 dotted 1px">
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>
