
<!-- Page Header -->
<div class="page-header page-header-block">
  <div class="page-header-section">
    <h4 class="title semibold">Chat</h4>
  </div>
</div>
<!-- Page Header -->

<!-- START Table layout -->
<div class="table-layout nm">
  <!-- message list-->
  <div class="col-lg-4 valign-top panel panel-minimal">
    <!-- panel heading -->
    <div class="panel-heading">
      <!-- panel toolbar -->
      <div class="panel-toolbar">
        <div class="input-group">
          <div class="has-icon">
            <input type="text" class="form-control" placeholder="Busque contatos ...">
            <i class="ico-search form-control-icon"></i>
          </div>
          <div class="input-group-btn">
            <button type="button" class="btn btn-default">Buscar</button>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
            <ul class="dropdown-menu pull-right" role="menu">
              <li class="dropdown-header">Filtros :</li>
              <li><a href="javascript:void(0);"><i class="icon ico-download22"></i>Enviado</a></li>
              <li><a href="javascript:void(0);"><i class="icon ico-upload22"></i>Recebidos</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--/ panel heading -->

    <hr class="mt10 mb10"><!-- horizontal line -->

    <!-- panel body -->
    <div class="panel-body np">
      <!-- message list -->
      <div class="media-list">
        <a href="" class="media">
          <span class="pull-left">
            <img src="<%= image_url "avatar/avatar6.jpg" %>" class="media-object img-circle" alt="" width="50px" height="50px;">
          </span>
          <span class="media-body">
            <span class="media-heading">Arthur Abbott</span>
            <span class="media-text ellipsis nm">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</span>
            <!-- meta icon -->
            <span class="media-meta"><i class="ico-star6"></i></span>
            <span class="media-meta"><i class="ico-attachment"></i></span>
            <span class="media-meta pull-right">2m</span>
            <!--/ meta icon -->
          </span>
        </a>

        <a href="" class="media read">
          <span class="pull-left">
            <img src="<%= image_url "avatar/avatar1.jpg" %>" class="media-object img-circle" alt="" width="50px" height="50px;">
          </span>
          <span class="media-body">
            <span class="media-heading">Martina Poole</span>
            <span class="media-text ellipsis nm">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</span>
            <!-- meta icon -->
            <span class="media-meta"><i class="ico-reply"></i></span>
            <span class="media-meta"><i class="ico-attachment"></i></span>
            <span class="media-meta pull-right">20m</span>
            <!--/ meta icon -->
          </span>
        </a>

        <a href="" class="media">
          <span class="pull-left">
            <img src="<%= image_url "avatar/avatar2.jpg" %>" class="media-object img-circle" alt="" width="50px" height="50px;">
          </span>
          <span class="media-body">
            <span class="media-heading">Elvis Christensen</span>
            <span class="media-text ellipsis nm">Duis aute irure dolor in reprehenderit in voluptate velit esse.</span>
            <!-- meta icon -->
            <span class="media-meta"><i class="ico-attachment"></i></span>
            <span class="media-meta pull-right">5h</span>
            <!--/ meta icon -->
          </span>
        </a>

        <a href="" class="media read">
          <span class="pull-left">
            <img src="<%= image_url "avatar/avatar3.jpg" %>" class="media-object img-circle" alt="" width="50px" height="50px;">
          </span>
          <span class="media-body">
            <span class="media-heading">Walter Foster</span>
            <span class="media-text ellipsis nm">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</span>
            <!-- meta icon -->
            <span class="media-meta"><i class="ico-attachment"></i></span>
            <span class="media-meta pull-right">21h</span>
            <!--/ meta icon -->
          </span>
        </a>

        <a href="" class="media read">
          <span class="pull-left">
            <img src="<%= image_url "avatar/avatar4.jpg" %>" class="media-object img-circle" alt="" width="50px" height="50px;">
          </span>
          <span class="media-body">
            <span class="media-heading">Callum Santosr</span>
            <span class="media-text ellipsis nm">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</span>
            <!-- meta icon -->
            <span class="media-meta pull-right">1d</span>
            <!--/ meta icon -->
          </span>
        </a>

        <a href="" class="media read">
          <span class="pull-left">
            <img src="<%= image_url "avatar/avatar5.jpg" %>" class="media-object img-circle" alt="" width="50px" height="50px;">
          </span>
          <span class="media-body">
            <span class="media-heading">Noelani Blevins</span>
            <span class="media-text ellipsis nm">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis.</span>
            <!-- meta icon -->
            <span class="media-meta pull-right">2d</span>
            <!--/ meta icon -->
          </span>
        </a>

        <a href="" class="media read">
          <span class="pull-left">
            <img src="<%= image_url "avatar/avatar8.jpg" %>" class="media-object img-circle" alt="" width="50px" height="50px;">
          </span>
          <span class="media-body">
            <span class="media-heading">Carl Johnson</span>
            <span class="media-text ellipsis nm">Curabitur consequat, lectus sit amet luctus vulputate, nisi sem</span>
            <!-- meta icon -->
            <span class="media-meta"><i class="ico-attachment"></i></span>
            <span class="media-meta pull-right">2w</span>
            <!--/ meta icon -->
          </span>
        </a>

        <a href="" class="media read">
          <span class="pull-left">
            <img src="<%= image_url "avatar/avatar9.jpg" %>" class="media-object img-circle" alt="" width="50px" height="50px;">
          </span>
          <span class="media-body">
            <span class="media-heading">Tamara Moon</span>
            <span class="media-text ellipsis nm">Aliquam ultrices iaculis odio. Nam interdum enim non nisi. Aenean eget metus.</span>
            <!-- meta icon -->
            <span class="media-meta"><i class="ico-attachment"></i></span>
            <span class="media-meta pull-right">2w</span>
            <!--/ meta icon -->
          </span>
        </a>
      </div>
      <!-- message list -->
    </div>
    <!--/ panel body -->
  </div>
  <!--/ message list -->

  <!-- message content -->
  <div class="col-lg-8 valign-top panel panel-default">
    <!-- panel heading -->
    <div class="panel-heading">
      <h5 class="panel-title">Arthur Abbott</h5>
    </div>
    <!--/ panel heading -->

    <!-- panel body -->
    <div class="panel-body">
      <!-- message list -->
      <ul class="media-list media-list-bubble">
        <li class="media media-right">
          <a href="javascript:void(0);" class="media-object">
            <img src="<%= image_url "avatar/avatar7.jpg" %>" class="img-circle" alt="">
          </a>
          <div class="media-body">
            <p class="media-text">eros non enim commodo hendrerit.</p>
            <span class="clearfix"></span>
            <p class="media-text">Suspendisse dui.</p>
            <span class="clearfix"></span>
            <p class="media-text">eu nulla at</p>
            <!-- meta -->
            <span class="clearfix"></span><!-- important: clearing floated media text -->
            <p class="media-meta">Dom, Mar 02</p>
          </div>
        </li>
        <li class="media">
          <a href="javascript:void(0);" class="media-object">
            <img src="<%= image_url "avatar/avatar6.jpg" %>" class="img-circle" alt="">
          </a>
          <div class="media-body">
            <p class="media-text">Etiam laoreet, libero et tristique pellentesque, tellus sem mollis dui, in sodales elit erat.</p>
            <span class="clearfix"></span>
            <p class="media-text">faucibus ut, nulla. Cras eu tellus</p>
            <!-- meta -->
            <span class="clearfix"></span><!-- important: clearing floated media text -->
            <p class="media-meta">Ter, Out 01</p>
          </div>
        </li>
        <li class="media media-right">
          <a href="javascript:void(0);" class="media-object">
            <img src="<%= image_url "avatar/avatar7.jpg" %>" class="img-circle" alt="">
          </a>
          <div class="media-body">
            <p class="media-text">Duis a mi fringilla mi lacinia mattis. Integer</p>
            <!-- meta -->
            <span class="clearfix"></span><!-- important: clearing floated media text -->
            <p class="media-meta">Sex, Set 27</p>
          </div>
        </li>
        <li class="media">
          <a href="javascript:void(0);" class="media-object">
            <img src="<%= image_url "avatar/avatar6.jpg" %>" class="img-circle" alt="">
          </a>
          <div class="media-body">
            <p class="media-text">Praesent interdum ligula eu enim. Etiam imperdiet dictum magna.</p>
            <!-- meta -->
            <span class="clearfix"></span><!-- important: clearing floated media text -->
            <p class="media-meta">Qua, Ago 28</p>
          </div>
        </li>
        <li class="media media-right">
          <a href="javascript:void(0);" class="media-object">
            <img src="<%= image_url "avatar/avatar7.jpg" %>" class="img-circle" alt="">
          </a>
          <div class="media-body">
            <p class="media-text">Aliquam rutrum lorem ac risus. Morbi metus. Vivamus euismod urna.</p>
            <!-- meta -->
            <span class="clearfix"></span><!-- important: clearing floated media text -->
            <p class="media-meta">Sab, Set 27</p>
          </div>
        </li>
        <li class="media">
          <a href="javascript:void(0);" class="media-object">
            <img src="<%= image_url "avatar/avatar6.jpg" %>" class="img-circle" alt="">
          </a>
          <div class="media-body">
            <p class="media-text">Vestibulum accumsan neque et nunc. Quisque ornare tortor at risus. Nunc ac</p>
            <span class="clearfix"></span>
            <p class="media-text">Nam porttitor scelerisque neque</p>
            <!-- meta -->
            <span class="clearfix"></span><!-- important: clearing floated media text -->
            <p class="media-meta">Dom, Fev 22</p>
          </div>
        </li>
      </ul>
      <!--/ message list -->
    </div>
    <!-- panel body -->

    <!-- panel footer -->
    <div class="panel-footer">
      <div class="panel-toolbar-wrapper">
        <div class="panel-toolbar">
          <div class="input-group" style="width:100%;">
            <input type="text" class="form-control" placeholder="Sua mensagem">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button"><i class="ico-paper-plane"></i> <span class="semibold">Enviar</span></button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- panel footer -->
  </div>
  <!--/ message content -->
</div>
<!--/ END Table layout -->

