<p>
  Olá <%= @to[:name] %>
</p>

<p>Um contado foi enviado.</p>

<br>
<p>Nome <%= @contact.name %></p>
<p>Email <%= @contact.email %></p>
<p>Telefone <%= @contact.phone %></p>
<p>Message <%= @contact.message %></p>
