<p>
  Olá <%= @to[:name] %>
</p>

<p>Uma reserva foi criada.</p>

<br>
<p>Nome <%= @reserva.name %></p>
<p>Email <%= @reserva.email %></p>
<p>Telefone <%= @reserva.phone %></p>
<p>Curso <%= @reserva.curso_landing.name %></p>
