<div class="login-content" id="login-content">
  <div class="row">
    <div class="col-sm-12 col-form">

      <header class="login-header">
        <h2 class="visuallyhidden">Login</h2>
      </header>

      <div class="v-middle-full">
        <!-- Login form -->
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'login-form', autocomplete: :off}) do |f| %>

        <input style="display:none" type="text" name="fakeusernameremembered"/>
        <input style="display:none" type="password" name="fakepasswordremembered"/>


        <legend>Acesse sua conta</legend>

        <!-- Alert message -->
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>">
            <%= value %>
          </div>
        <% end %>

          <div class="form-group">
            <div class="has-icon pull-left">
              <%= f.email_field :email, required: false, autofocus: true, class: 'form-control', placeholder: 'Email' %>
              <i class="ico-user2 form-control-icon"></i>
            </div>
          </div>
          <div class="form-group">
            <div class="has-icon pull-left">
              <%= f.password_field :password, required: false, class: 'form-control', placeholder: 'Senha' %>
              <i class="ico-lock2 form-control-icon"></i>
            </div>
          </div>

          <div class="form-group nm">
            <button type="submit" class="btn btn-block btn-success"><span class="semibold">Login</span></button>
          </div>

          <hr><!-- horizontal line -->

        <!-- Social button -->
        <ul class="list-table">
          <%- if devise_mapping.omniauthable? %>
            <%- resource_class.omniauth_providers.select {|p|
              @domain.permit_provider? p
              }.each do |provider| %>
            <li>

              <!-- <button type="button" class="btn btn-block btn-facebook">Entrar com <i class="ico-facebook2 ml5"></i></button> -->
              <a href="<%= omniauth_authorize_path(resource_name, provider) %>" class="btn btn-block btn-<%= provider.to_s %>">
                Conecte com <%= provider.to_s.titleize %>
              </a>
            </li>
            <% end -%>
          <% end -%>
        </ul>
        <!-- Social button -->
        <% end %>
      </div>


    </div>
  </div>

  <img src="<%= image_url("cbfa/cbfa-logo-texto.png") %>" alt="" class="cbfa-footer-logo">
</div>

