<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title><%=
    begin
      @employee_advocacy_share.post_title
    rescue EmployeeAdvocacyShareDecorator::TitleNotFound => e
      ""
    end
  %></title>
  <% if @employee_advocacy_share.image_url %>
    <meta property="og:type" content="website">
    <meta property="og:image" content=<%=request.base_url + @employee_advocacy_share.image_url%>>
  <% end %>
  <%= csrf_meta_tag %>
  <% if false %>
  <meta http-equiv="refresh" content="2;URL='<%=
    begin
      @employee_advocacy_share.redirect_url
    rescue EmployeeAdvocacyShareDecorator::URLNotFound => e
      "http://pointsrocket.com"
    end
  %>'" />
  <% end %>
  <script>
    var count = 0;

    function openRealUrl() {
      window.location = "<%=
    begin
      @employee_advocacy_share.redirect_url
    rescue EmployeeAdvocacyShareDecorator::URLNotFound => e
      "http://pointsrocket.com"
    end
  %>";
    }

    function doTheRequest(){
      var request = new XMLHttpRequest();
      var token = document.querySelector('meta[name="csrf-token"]').content;
      request.open('PUT', '<%= employee_advocacy_share_url(@employee_advocacy_share) %>', true);
      request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
      request.setRequestHeader('X-CSRF-Token', token);
      request.onload = function() {
        if (request.status >= 200 && request.status < 400) {
          // success
          openRealUrl();
        } else {
          // error
          if (count < 5) {
            doTheRequest();
            count++
          } else {
            openRealUrl();
          }
        }
      }
      request.send();
    }

    doTheRequest();
  </script>
</head>
</html>
