<div class="media">
  <% if current_user.broadcasts.include?(broadcast) %>
    <div class="alert alert-success">
      <p><%= t('views.broadcasts.show.watched') %></p>
    </div>
    <iframe 
      width="100%"
      height="400"
      src="https://www.youtube.com/embed/<%= broadcast.video_id %>"
      frameborder="0"
      allowfullscreen>
    </iframe>

  <% else %>
    <div class="alert alert-info" id="broadcast-info-message">
      <%= t('views.broadcasts.show.info_message') %>         
    </div>
    <div class="alert alert-success hide" id="broadcast-watched-message">
      <p><%= t('views.broadcasts.show.just_watched') %></p>
    </div>
    <div class="panel panel-default broadcast-progress-container hide">
      <div class="panel-body">
        <div class="progress progress-striped nm">
          <div id="broadcast-progress-bar" class="progress-bar progress-bar-success" data-label-id="broadcast-progress-bar-label">
            <span class="" id="broadcast-progress-bar-label">0%</span>
          </div>
        </div>
        <div class="help-block">
          <%= t('views.broadcasts.show.complete_help_message') %>
        </div>
      </div>
    </div>
    <!-- indicator -->
    <div class="indicator"><span class="spinner"></span></div>
    <!--/ indicator -->

    <!-- Element where the video is placed -->
    <div id="player"></div>
    <%= javascript_tag do %>
      window.BROADCAST = <%= @broadcast.to_json.html_safe %>;
    <% end%>
    <%= javascript_include_tag 'broadcasts' %>
  <% end %>
</div>