<!DOCTYPE html>
<html class="backend">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>On Rocket</title>
    <meta name="author" content="http://pointsrocket.com">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%= csrf_meta_tags %>


    <%= render partial: "partials/favicon" %>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,700">

    <%= stylesheet_link_tag "main-dashboard.css" %>

    <% if @domain.css.present? %>
      <%= stylesheet_link_tag @domain.css %>
    <% end %>

    <%= javascript_include_tag "modernizr/js/modernizr.js" %>

    <script>
      window.locale = '<%= I18n.locale %>';
    </script>
  </head>

  <body>
    <%= render :partial => "layouts/dashboard/header" %>

    <section id="main" role="main">
      <div class="container-fluid">
        <%= yield %>

        <%= render :partial => "layouts/dashboard/footer" %>
      </div>

      <a href="#" class="totop animation" data-toggle="waypoints totop" data-showanim="bounceIn" data-hideanim="bounceOut" data-offset="50%"><i class="ico-angle-up"></i></a>
    </section>

    <%= javascript_include_tag "main-dashboard.js" %>
    <%= render 'partials/ganalytics' %>
  </body>
</html>
